/*
|----------------------------------------------------------------------------
| Custom Style
|----------------------------------------------------------------------------
*/

.main-block{
	padding: 120px 50px;
	display: flex;
	text-align: center;
	margin: 50px auto;
	background-image: linear-gradient(45deg, #3ec0e7 0%, #7ef499 100%);
}
.cur-select-block{
	text-align: center;
	margin: 0 auto;
}
.currency-options{
	padding: 5px;
	border-radius: 3px;
	width: 150px;
	border: 1px solid #7c84fe;
}
input[type="text"]{
	outline: 0;
	padding: 5px;
	box-shadow: none;
	border-radius: 5px;
	border: 1px solid #7c84fe;
}
.output-text{
	color: #fff;
	font-size: 42px;
	padding: 100px 0;
}